/**********************************************************************/
/*Creation Date: 	2/13/15                                           */
/*Last Modified: 	2/13/15                                           */
/*Description:		Appliction wide styles only go in this css        */
/**********************************************************************/

/*Green color 		= #45C69C*/
/*Grey color  		= #575657*/
/*Grey background 	= #D2D7D3*/
/*Blue color		= #0202D2*/


/*****************************HTML**************************************/

html,body
{
	width: 100%;
    height: 100%;
}

body
{
	margin: 0;
	padding: 0;
	font-family: 'Ubuntu', Serif;
	font-size: 15px;
	overflow-x: hidden;
}

/*Add this class to a div and specify height inline if you need a vertical line*/
.vertical-line
{
	width: 2px;
	background-color: #45C69C;
	height: 100%; /*Override in-line if you want specific height.*/
	float: left;
}



/***************************Primefaces**********************************/

/*override primefaces theme for all elements to go with our flat ui theme*/
.ui-corner-all
{
	border-radius: 0px;
}

/*input text*/
.ui-inputfield
{
	box-shadow: none;
}

.ui-inputfield.ui-state-focus
{
	box-shadow: 0px 0px 4px 0px rgba(69,198,156,0.75);
	border: 1px solid #45C69C;
}

.ui-inputfield.ui-state-hover
{
	border: 1px solid #45C69C;
}


/*Command Link*/
.ui-commandlink
{
	text-decoration: none;
	color: #333;
}

.ui-commandlink:hover
{
	color: #45C69C;
}

/*Separator*/
.ui-separator.ui-state-default
{
	border: 1px solid #45C69C;
}


/*Command button*/
.mobile-button.ui-button
{
	background: none;
	background-color: #45C69C;
	text-shadow: none;
	border: 1px solid #45C69C;
	color: #fff;
	height: 40px;
}

.mobile-button.ui-button.ui-state-default
{
	box-shadow: none;
}

.mobile-button.ui-button.ui-state-hover
{
	opacity: .8;
}


.ui-widget
{
	font-family: 'Ubuntu', Serif;
}








