/**********************************************************************/
/*Creation Date: 	2/14/15                                           */
/*Last Modified: 	2/14/15                                           */
/*Description:		Login page                                        */
/**********************************************************************/

.login-container
{
	border: 6px solid #333;
	width: 450px;
	height: 440px;
	margin: 75px auto 0 auto;
	background-color: #fff;
}

.top-title
{
	font-family: 'Montserrat', Serif;
	font-size: 40px;
	width: 295px;
	margin: 45px auto 0 auto;
	color: #333;
}

.input-container
{
	width: 350px;
	margin: 40px auto 0 auto;
}

.login-input
{
	width: 97%;
	font-size: 18px;
}

#loginButtonContainer
{
	width: 100%;
	margin: 35px 0;
}

/*had to add this to center the command link, it wouldn't let me give the link a width*/
#loginButtonContainerInner
{
	width: 84px; 
	margin: 0 auto;
}

.login-command-button
{
	font-size: 24px;
}

.login-separator
{
	width: 352px;
}

#createForgotContainer
{
	width: 100%;
}

.create-forgot-container-inner
{
	float: left; 
	width: 221px;
	margin-top: 20px;
}

.create-forgot-container-inner .ui-commandlink
{
	padding-left: 65px;
}













