/**********************************************************************/
/*Creation Date: 	2/14/15                                           */
/*Last Modified: 	2/14/15                                           */
/*Description:		Template styles only (header, footer, etc)        */
/**********************************************************************/


/***************************Header*************************************/

/*Top banner of the site*/
.banner
{
	background-color: #45C69C;
	width: 100%;
	height: 100px;
	border-bottom: 3px solid #575657;
}

/*User name inside the banner*/
.banner-user-name
{
	float: right;
	font-size: 22px;
	color: #4d4d4d;
	margin: 33px 18px 0 0;
}



/***************************Footer*************************************/
#footer
{
	width: 100%;
	height: 30px;
	position: absolute;
	bottom: 0;
	left: 0;
}

#footer-copyright
{
	display: block;
	margin: 0 auto;
	width: 155px;
}











